---
import Base from "../layouts/base.astro";
---

<Base name="about">
  <h4>contact information:</h4>
    <ul>
        <li>email: <a href="mailto:asksodal@gmail.com">asksodal@gmail.com</a></li>
        <li>LinkedIn: <a href="https://www.linkedin.com/in/ask-sødal-3336492a7" target="_blank">www.linkedin.com/in/ask-sødal-3336492a7</a></li>
        <li>GitHub: <a href="https://github.com/askeladd123" target="_blank">github.com/askeladd123</a></li>
    </ul>
</Base>
