---
import Base from "../layouts/base.astro";
import DemoBox from "../components/demobox.astro";
import ExplainBox from "../components/explainbox.astro";
---

<Base name="demo">
  <p>
    Here I have gathered some demos of my code. I have picked projects that
    work visually and that I thought were interesting to show.
  </p>
  <DemoBox title="pathfinding" iframe_link="/external/pathfinding/index.html">
    Visualizing different pathfinding algorithms. (work in progress)
  </DemoBox>
  <ExplainBox title="sailing game">
    This is a game I made about sailing.
  </ExplainBox>
  <DemoBox title="ant colony" iframe_link="/external/ants/index.html">
    This is a simulation that mimics the behaviour of ants to optimize the path
    between food and home. (work in progress)
  </ExplainBox>
  <ExplainBox title="huenator">
    This is a project I used together with home assistant to color my room
    after my pc monitor.
  </ExplainBox>
  <ExplainBox title="crime downloader">
    My submission for the UIA Beta Game Jam Autumn 2023 (that I hosted myself 😈)
  </ExplainBox>
  <ExplainBox title="thompson">
    Created a Thompson Machine Gun while learning Blender.
  </ExplainBox>
  <ExplainBox title="seilbåt">
    Created a Sail Boat Sculpture while learning Blender.
  </ExplainBox>
  <ExplainBox title="lampe">
    A track I made using samples from Odd Børretzen. I also made some other stuff, but that's a secret.
  </ExplainBox>
</Base>
