---
import Base from "../layouts/base.astro";
import DemoBox from "../components/demobox.astro";
import ExplainBox from "../components/explainbox.astro";
---

<Base name="demo">
  <p>
    Here I have gathered some demos of my code. I have picked projects that
    works visually and that I thought were interesting to show.
  </p>
  <DemoBox title="sailing game">This is a game I made about sailing. </DemoBox>
  <DemoBox title="ant colony"
    >This is a simulation that mimics the behaviour of ant to optimize the path
    between food and home.
  </DemoBox>
  <ExplainBox title="huenator"
    >This is a project I used together with home assistant to color my room
    after my pc monitor.</ExplainBox
  >
</Base>
