---
import Base from "../layouts/base.astro";
---

<Base name="home">
  <h4 style="text-align: center;">(i will put a cool banner here)</h4>
  <p>
    "This is my personal website" - Ask. I use this for whatever comes up
    really. I will put demos here and maybe some secret stuff as well.
  </p>
</Base>
